.container {
 width: 100%;
 max-width: 1300px;
 margin: 0 auto;   
}
.posts-container { 
display: flex;
align-items: center;    
justify-content: center;
gap: 20px;
}
.posts-container-2{
display: flex;
gap: 30px;
flex-direction: row;
justify-content: center;
align-items: center;
}
.posts-container-3{
background-color: #BDE3FF;
width: 1440px;
height: 660px;
position: relative;
left: 440px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
gap: 20px;
margin-top: 10px;
margin-bottom: 50px;
}
.posts-container-4{
background-color: #FFEDBD;
width: 1440px;
height: 660px;
position: relative;
left: 440px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
gap: 20px;
margin-top: 10px;
margin-bottom: 50px;
}
.posts-container-5{
background-color: #FFC5BD;
width: 1440px;
height: 660px;
position: relative;
left: 440px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
gap: 20px;
margin-top: 10px;
margin-bottom: 50px;
}
.posts-container-6{
background-color: #BEBDFF;
width: 1440px;
height: 660px;
position: relative;
left: 440px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
gap: 20px;
margin-top: 10px;
margin-bottom: 50px;
}
.posts-container-7{
background-color: #BDFFDF;
width: 1440px;
height: 660px;
position: relative;
left: 440px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
gap: 20px;
margin-top: 10px;
margin-bottom: 50px;
}
.text-container{
    display: flex;
    width: 1286px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    left: 503px;
}