* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: "regular";
    font-style: normal;
}
a {
    text-decoration: none;
}

.header__top {
    padding: 12px 5px 9px;
}


.menu__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__left {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.menu__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone-button {

}
.header__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom {
    position: relative;
    right: 260px;
    display: flex;
    align-items: center;
    gap: 11px;
}

/* colors */

.text-grey {
    color: #0E254B;
}
.text-blue {
    color: #0E254B;
}
.bg-grey {
    background-color: #F4F6F9;
}

.rounded-card {
    padding: 5px 20px;
    border-radius: 30px;
}

.nav-list {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-list__item {
    font-size: 13px;
    line-height: 0.65;
}
.nav-list__icons{
    display: flex;
    gap: 7px;
}
.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 22px;   
}
.menu img{
    width: 1500px;
    height: 478px;
}
.footer {
    color: #0E254B99;
    margin-left:-772px;
    font-size: 14px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav-list__item-2 {
    color: #0E254B99;
    background: #F4F6F9;
    border: 2px solid #F4F6F9;  
}
.nav-list__item-1 {
    color: #D5E5FB;
}
.nav-list-2 {
    padding: 7px 15px 7px 15px;
    display: flex;
    gap: 25px;
    margin: 37px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.nav-list-2 a {
    border-radius: 20px;
    width: 89px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list-item-10  {
    background-color: #D5E5FB;
    color: #0E254B;
   
}
.search-icon {
    width: 600px;
    height: 23px;
    border: 2px solid #333;
    border-radius: 20px; 
}
.mini-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 203px;
    height: 36px;
    padding: 5px 10px;
    gap: 13px;
    border-radius: 50px;
    margin-left: 156px;
    margin-top: 6px;
    position: relative;
    left: 232px;
}
.mini-menu h4{
    color:#FFFFFF;
    font-size: 16px;
}
.mini-menu h5{
    border: 5px solid #FFFFFF;
    height: 19px;
    border-radius: 13px;
    background-color: #FFFFFF;
    color: #FF6B17;
    font-size: 16px;
}
.mini-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F6F9;
    width: 64px;
    height: 36px;
    gap: 7px;
    border-radius: 26px;
    position: relative;
    left: 250px;
}
.mini-header h5{
    position: relative;
    color: #FFFFFF;
    background-color: #FF6B17;
    border-radius: 20px;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 2px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.data{
    background-color: #F4F6F9;
    width: 286px;
    height: 37px;
    border-radius: 20px;
}
.data img{
    position: relative;
    top: 6px;
    left: 3px;
}
.data span{
    color: #0E254B;
    font-size: 14px;
}
.data-2{
    background-color: #F4F6F9;
    width: 238px;
    height: 37px;
    border-radius: 20px;    
}
.data-2 img{
    position: relative;
    top: 6px;
    left: 3px;
}
.data-2 span{
    color: #0E254B;
    font-size: 14px;
}
.data-3{
    background-color: #F4F6F9;
    width: 264px;
    height: 37px;
    border-radius: 20px;
}
.data-3 img{
    position: relative;
    top: 6px;
    left: 3px;
}
.data-3 span{
    color: #0E254B;
    font-size: 14px;    
}
.inline{
    display: inline;
    color: #0E254B99;
    font-size: 14px;   
}
.posts{
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 20px;
}
.menu-2 {
    display: flex;
    gap: 12px;
    margin-right: 172px;
}
.menu-2 img {
    position: relative;
    width: 111px;
    height: 44px;
    border: 2px solid#0E254B99;
    border-radius: 20px;
}
.mini-text {
    width: 141px;
    height: 43px;
    color: #0E254B;
    font-size: 35px;
    
}
.menu-11 {
    display: flex;
    gap: 12px;
    margin-right: 279px;
}
.menu-11 img {
    position: relative;
    width: 111px;
    height: 44px;
    border: 2px solid#0E254B99;
    border-radius: 20px;
}
.mini-text {
    width: 141px;
    height: 43px;
    color: #0E254B;
    font-size: 35px;
    
}
.data-33{
    background-color: #F4F6F9;
    width: 158px;
    height: 37px;
    border-radius: 20px;
}
.data-33 img{
    position: relative;
    top: 6px;
    left: 3px;
}
.data-33 span{
    color: #0E254B;
    font-size: 14px;    
}
.post{
    display: flex;
    display: inline-block;
    position: relative;
    height: 400px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 25px;
}
.post img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
}
.post h4{
    color: #3485FF;
    display: inline-block;
    position: relative;
    top: 34px;
    font-size: 22px;
    right: 69px;
}
.post p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
}
.text-content{
    display: flex;
    position: relative;
    left: 19px;
}
.text-content h5{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 14px;
    padding: 4px;
    border-radius: 13px;
    position: relative;
    left: 135px;
}
.text-content h1{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 14px;
    padding: 4px;
    border-radius: 13px;
    position: relative;
    font-size: 14px;
    top: 17px;
    left: 4px;
}
.text-content h2{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 14px;
    padding: 4px;
    border-radius: 13px;
    position: relative;
    font-size: 14px;
    left: 104px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 140px;
}
.text img{
    width: 20px;
    height: 20px;
}
.text h5{
    color: #FFFFFF;
    font-size: 16px;
}
.text h4{
    position: relative;
    width: 0px;
    top: 10px;
    right: 134px;
    color: #3485FF;
}
.text h3{
    position: relative;
    width: 0px;
    top: 10px;
    color: #3485FF;
    right: 127px;
    font-size: 26px;
}
.text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE9DC;
    color: #FF6B17;
    width: 148px;
    font-size: 20px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 0px;
}
.post-2{
    width: 640px;
    height: 420px;
    
}
.post-2 p{
    color: #0E254B99;
    
}
.post-2 img{
    width: 640px;
    height: 200px;
    border-radius: 25px;
}
.text-content-2{
    display: flex;
    gap: 10px;
}
.text-content-2 h2{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 80px;
    height: 29px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-content-2 h3{
    color: #0E254B;
    font-size: 22px;
}
.text-content-2 h1{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 14px;
    padding: 4px;
    border-radius: 13px;
    position: relative;
    font-size: 14px;
    left: px;
}
.text-2 img{
    width: 20px;
    height: 20px;
}
.text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 72%;
}
.text-2 h3{
    position: relative;
    width: 0px;
    top: 10px;
    color: #3485FF;
    right: 296%;
    font-size: 26px;
}
.text-2 h5{
    color: #FFFFFF;
    font-size: 16px;
}
.mini_menu-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px
}
.mini_menu-2 h3{
    color: #FF6B17;
    background-color: #FFE9DC;
    font-size: 16px;
    width: 173px;
    height: 48px;
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 550px;
    position: relative;
}
.mini-text-2{
    color: #0E254B;
    font-size: 35px;
}
.menu-3{
    display: inline-block;
    display: flex;
    gap: 26px;
    position: relative;
    bottom: 250px;
    left: 381px;
    width: 696px;
}
.menu-3 img{
    width: 111px;
    height: 48px;
    border: 2px solid #0E254B99;
    border-radius: 20px;
}
.little-12{
    color: #0E254B99;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 11px;
}
.post-3{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
}
.post-3 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-3 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.text-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 140px;
    top: 56px;
}
.text-3 h3{
    position: relative;
    width: 0px;
    color: #3485FF;
    right: 138px;
    font-size: 26px;
} 
.text-3 img{
    width: 20px;
    height: 20px;
    background: transparent;
}
.text-3 h5{
    color: #FFFFFF;
    font-size: 16px;
}
.text_3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 140px;
    top: 79px;
}
.text_3 h3{
    position: relative;
    width: 0px;
    color: #3485FF;
    right: 138px;
    font-size: 26px;
} 
.text_3 img{
    width: 20px;
    height: 20px;
    background: transparent;
}
.text_3 h5{
    color: #FFFFFF;
    font-size: 16px;
}
.arrows{
    background-color: #F4F6F9;
    width: 40px;
    height: 34px;
    border-radius: 10px
}
.arrows p{
    color: #3485FF;
    width: 20px;
    height: 20px;
    font-size: 30px;
}
.text-post{
    width: 410px;
    height: 218px;
    background-color: #F4F6F9;
}
.text-post p{
    font-size: 20px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
}
.text-post-2{
    width: 410px;
    height: 218px;
    background-color: #D5E5FB;
}
.text-post-2 p{
    font-size: 20px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
}
.text-post-3{
    width: 410px;
    height: 218px;
    background-color: #F4F6F9;
}
.text-post-3 p{
    font-size: 20px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
}
.text-post-4{
    width: 410px;
    height: 218px;
    background-color: #D5E5FB;
}
.text-post-4 p{
    font-size: 20px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
}
.text-post-5{
    width: 410px;
    height: 218px;
    background-color: #F4F6F9;
}
.text-post-5 p{
    font-size: 20px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    opacity: 10%;
}
.text-post-6{
    width: 410px;
    height: 218px;
    background-color: #D5E5FB;
}
.text-post-6 p{
    font-size: 20px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    opacity: 10%;
}
.sign{

}
.sign h2{
    
    
}
.mini-basement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mini-basement p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}
.mini-icons{
    width: 116.25px;
    height: 41.77;
}
.mini-icons img{
    width: 50.13px;
    height: 41.77px;
}
.subscription{
    outline: none;
    border-radius: 50px;
    width: 100%;
    overflow: hidden;
}
.email-input{
    padding: 16px 24px;
    border: none;
    font-size: 16px;
    color: #0E254B;
    background-color: white;
    font-weight: 500;
    outline: none;
}
.subscribe-button{
    padding: 16px 32px;
    background-color: #D5E5FB;
    color: #0E254B;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.basement-text{
    padding: 40px 20px;
    display: flex;
    align-items: center;
}
.column {
    min-width: 200px;
    padding: 0 15px;
}

.column h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.column ul {
    list-style: none;
}

.column li {
    margin-bottom: 15px;
}

.column a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.column a:hover {
    color: #FFFFFF;
}
.footer-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    align-items: center;
    text-align: center;
    max-width: 1300px;
    margin-left: 470px;
}
.footer-2 p{
    color: #0E254B99;
    font-size: 14px;
    font-weight: 400;
}
.footer-2 img{
    position: relative;
    top: 3px;
    left: 7px;
}