* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: "regular";
    font-style: normal;
}
a {
    text-decoration: none;
}

.header__top {
    padding: 12px 5px 9px;
}


.menu__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__left {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.menu__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone-button {

}
.header__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom {
    position: relative;
    right: 260px;
    display: flex;
    align-items: center;
    gap: 11px;
}

/* colors */

.text-grey {
    color: #0E254B;
}
.text-blue {
    color: #0E254B;
}
.bg-grey {
    background-color: #F4F6F9;
}

.rounded-card {
    padding: 5px 20px;
    border-radius: 30px;
}

.nav-list {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-list__item {
    font-size: 13px;
    line-height: 0.65;
}
.nav-list__icons{
    display: flex;
    gap: 7px;
}
.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 22px;   
}
.menu img{
    width: 1500px;
    height: 478px;
}
.footer {
    color: #0E254B99;
    margin-left:-772px;
    font-size: 14px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav-list__item-2 {
    color: #0E254B99;
    background: #F4F6F9;
    border: 2px solid #F4F6F9;  
}
.nav-list__item-1 {
    color: #D5E5FB;
}
.nav-list-2 {
    padding: 7px 15px 7px 15px;
    display: flex;
    gap: 25px;
    margin: 37px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.nav-list-2 a {
    border-radius: 20px;
    width: 89px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list-item-10  {
    background-color: #D5E5FB;
    color: #0E254B;
   
}
.search-icon {
    width: 600px;
    height: 23px;
    border: 2px solid #333;
    border-radius: 20px; 
}
.mini-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 203px;
    height: 36px;
    padding: 5px 10px;
    gap: 13px;
    border-radius: 50px;
    margin-left: 156px;
    margin-top: 6px;
    position: relative;
    left: 232px;
}
.mini-menu h4{
    color:#FFFFFF;
    font-size: 16px;
}
.mini-menu h5{
    border: 5px solid #FFFFFF;
    height: 19px;
    border-radius: 13px;
    background-color: #FFFFFF;
    color: #FF6B17;
    font-size: 16px;
}
.mini-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F6F9;
    width: 64px;
    height: 36px;
    gap: 7px;
    border-radius: 26px;
    position: relative;
    left: 250px;
}
.mini-header h5{
    position: relative;
    color: #FFFFFF;
    background-color: #FF6B17;
    border-radius: 20px;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 2px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.data{
    background-color: #F4F6F9;
    width: 288px;
    height: 37px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data img{
    margin-right: 3px;
}
.data span{
    color: #0E254B;
    font-size: 14px;
    margin-left: 5px;
}
.data-2{
    background-color: #F4F6F9;
    width: 243px;
    height: 37px;
    border-radius: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-2 img{
    margin-right: 5px;
}
.data-2 span{
    color: #0E254B;
    font-size: 14px;
    margin-left: 5px;
}
.data-3{
    background-color: #F4F6F9;
    width: 270px;
    height: 37px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-3 img{
    margin-right: 5px;
}
.data-3 span{
    color: #0E254B;
    font-size: 14px;    
    margin-left: 4px;
}
.inline{
    display: inline;
    color: #0E254B99;
    font-size: 14px;   
}
.posts{
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 20px;
}
.menu-2 {
    display: flex;
    gap: 12px;
    margin-right: 172px;
}
.menu-2 img {
    position: relative;
    width: 111px;
    height: 44px;
    border: 2px solid#0E254B99;
    border-radius: 20px;
}
.mini-text {
    width: 141px;
    height: 43px;
    color: #0E254B;
    font-size: 35px;
    
}
.menu-11 {
    display: flex;
    gap: 12px;
    margin-right: 279px;
}
.menu-11 img {
    width: 111px;
    height: 44px;
    border: 2px solid#0E254B99;
    border-radius: 20px;
}
.mini-text {
    width: 141px;
    height: 43px;
    color: #0E254B;
    font-size: 35px;
    
}
.data-33{
    background-color: #F4F6F9;
    width: 158px;
    height: 37px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-33 img{
    margin-right: 6px;
}
.data-33 span{
    color: #0E254B;
    font-size: 14px;  
    margin-left: 4px;  
}
.post{
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 310px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 25px;
}
.post img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
}
.post p{
    color: #0E254B99;
    margin-left: 11px;
    margin-top: 10px;
}
.post h3{
    color: #000000;
    font-weight: 600;
}
.the-price-button-3{
    width: 310px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
    gap: 85px;
}
.the-price-button-3 h4{
    font-size: 22px;
    color: #3485FF;
    font-weight: 700;
} 
.the-price-button-4{
    width: 310px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    gap: 85px;
}
.the-price-button-4 h4{
    font-size: 22px;
    color: #3485FF;
    font-weight: 700;
} 
.the-price-button-5{
    width: 310px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    gap: 85px;
}
.the-price-button-5 h4{
    font-size: 22px;
    color: #3485FF;
    font-weight: 700;
} 
.text-content{
    display: flex;
    margin-left: 13px;
    margin-top: 10px;
}
.text-content h5{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 8px;
    padding: 4px;
    border-radius: 13px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 152px;
}
.text-content h1{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 8px;
    padding: 4px;
    border-radius: 13px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
}
.text-content h2{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 8px;
    padding: 4px;
    border-radius: 13px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-top: 10px;
}
.text-content h4{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 8px;
    padding: 4px;
    border-radius: 13px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 107px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
}
.text img{
    width: 20px;
    height: 20px;
}
.text h5{
    color: #FFFFFF;
    font-size: 16px;
}
.text h4{
    position: relative;
    width: 0px;
    top: 10px;
    right: 134px;
    color: #3485FF;
}
.text h3{
    position: relative;
    width: 0px;
    top: 10px;
    color: #3485FF;
    right: 127px;
    font-size: 26px;
}
.text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE9DC;
    color: #FF6B17;
    width: 148px;
    font-size: 20px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 0px;
}
.post-2{
    width: 640px;
    height: 420px;
    
}
.post-2 p{
    color: #0E254B99;
    margin-left: 11px;
    font-weight: 400;
}
.post-2 img{
    width: 640px;
    height: 200px;
    border-radius: 25px;
}
.text-content-2{
    display: flex;
    gap: 10px;
    margin-left: 13px;
    margin-top: 10px;
}
.text-content-2 h2{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 80px;
    height: 29px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-content-2 h3{
    color: #0E254B;
    font-size: 18px;
    font-weight: 600;
    margin-top: 3px;
}
.text-content-2 h1{
    background-color: #D5E5FB;
    color: #3485FF;
    width: 6px;
    height: 8px;
    padding: 4px;
    border-radius: 13px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 285px; 
}
.time{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 28px;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 11px;
}

.time img{
    width: 20px;
    height: 20px;
}
.time h6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 17px;
    font-weight: 400;
    color: #0E254B;
    font-size: 14px;
    margin-left: 7px;
}
.the-price-button{
    width: 640px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    gap: 387px;
}
.the-price-button h3{
    font-size: 22px;
    color: #3485FF;
    font-weight: 700;
} 
.the-price-button-2{
    width: 640px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 387px;
}
.the-price-button-2 h3{
    font-size: 22px;
    color: #3485FF;
    font-weight: 700;
} 
.text-2 img{
    width: 20px;
    height: 20px;
}
.text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
}
.text-2 h5{
    color: #FFFFFF;
    font-size: 16px;
}
.mini_menu-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
    margin-top: 25px;
}
.mini_menu-2 h3{
    color: #FF6B17;
    background-color: #FFE9DC;
    font-size: 16px;
    width: 173px;
    height: 48px;
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1113px;
}
.mini_menu-22{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 30px;
}
.mini_menu-22 h3{
    color: #FF6B17;
    background-color: #FFE9DC;
    font-size: 16px;
    width: 173px;
    height: 48px;
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1113px;
}
.postss{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 696px;
    margin-bottom: 487px;
}
.menu-3{
    display: flex;
    gap: 26px;
    width: 696px;
    margin-bottom: 9px;
    margin-left: 779px;
}
.menu-3 img{
    width: 111px;
    height: 48px;
    border: 2px solid #0E254B99;
    border-radius: 20px;
}
.mini-text-2{
    color: #0E254B;
    font-size: 35px;
    width: 481px;
    margin-top: 5px;
}
.little-12{
    color: #0E254B99;
    font-size: 18px;
    font-weight: 700;
    width: 20px;
    height: 23px;
    margin-top: 16px;
}
.post-opacity{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
    opacity: 30%;
}
.post-opacity img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-opacity p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.post-opacity-2{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
    opacity: 30%;
}
.post-opacity-2 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-opacity-2 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.post-opacity-3{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
    opacity: 30%;
}
.post-opacity-3 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-opacity-3 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.post-opacity-4{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
    opacity: 30%;
}
.post-opacity-4 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-opacity-4 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.post-opacity-5{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
    opacity: 30%;
}
.post-opacity-5 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-opacity-5 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.post-33{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
    margin-left: 42px;
}
.post-33 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-33 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.post-3{
    display: flex;
    display: inline-block;
    position: relative;
    height: 420px;
    width: 310px;
    background: #FFFFFF;
    border-radius: 25px;
    right: 344px;
    top: 20px;
}
.post-3 img{
    width: 310px;
    height: 242px;
    border-radius: 24px;
    background-color: #EFEAE6;
}
.post-3 p{
    color: #0E254B99;
    display: inline-block;
    position: relative;
    left: 16px;
    top: 7px;
}
.text-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 140px;
    top: 56px;
}
.text-3 h3{
    position: relative;
    width: 0px;
    color: #3485FF;
    right: 138px;
    font-size: 26px;
} 
.text-3 img{
    width: 20px;
    height: 20px;
    background: transparent;
}
.text-3 h5{
    color: #FFFFFF;
    font-size: 16px;
}
.text_3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B17;
    width: 148px;
    height: 36px;
    gap: 6px;
    border-radius: 25px;
    position: relative;
    left: 140px;
    top: 79px;
}
.text_3 h3{
    position: relative;
    width: 0px;
    color: #3485FF;
    right: 138px;
    font-size: 26px;
} 
.text_3 img{
    width: 20px;
    height: 20px;
    background: transparent;
}
.text_3 h5{
    color: #FFFFFF;
    font-size: 16px;
}
.ellipse{
    position: relative;
    width: 130px;
    height: 30px;
    display: flex;
    right: 105px;
    top: 128px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.ellipse-2{
    border-radius: 10px;
    background-color: #3485FF;
    width: 10px;
    height: 10px;
    opacity: 100%;
}
.ellipse-3{
    background-color: #3485FF;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 30%;
} 
.ellipse-4{
    background-color: #3485FF;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 30%;
}
.ellipse-5{
    background-color: #3485FF;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 30%;
}
.arrows{
    background-color: #F4F6F9;
    width: 40px;
    height: 34px;
    border-radius: 10px
}
.arrows p{
    color: #3485FF;
    width: 20px;
    height: 20px;
    font-size: 30px;
}
.text-post{
    width: 410px;
    height: 218px;
    background-color: #F4F6F9;
    margin-top: 28px;
}
.text-post p{
    font-size: 18px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    font-weight: 600;
}
.text-post-2{
    width: 410px;
    height: 218px;
    background-color: #D5E5FB;
    margin-top: 28px;
}
.text-post-2 p{
    font-size: 18px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    font-weight: 600;
}
.text-post-3{
    width: 410px;
    height: 218px;
    background-color: #F4F6F9;
    margin-top: 28px;
}
.text-post-3 p{
    font-size: 18px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    font-weight: 600;
}
.text-post-4{
    width: 410px;
    height: 218px;
    background-color: #D5E5FB;
    margin-bottom: 144px;
}
.text-post-4 p{
    font-size: 18px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    font-weight: 600;
}
.text-post-5{
    width: 410px;
    height: 218px;
    background-color: #F4F6F9;
    margin-bottom: 144px;
}
.text-post-5 p{
    font-size: 18px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    opacity: 10%;
}
.text-post-6{
    width: 410px;
    height: 218px;
    background-color: #D5E5FB;
    margin-bottom: 144px;
}
.text-post-6 p{
    font-size: 18px;
    left: 35px;
    position: relative;
    top: 25px;
    color: #0E254B;
    opacity: 10%;
}
.sign{
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    opacity: 50%;
    margin-left: 302px;
    margin-top: 37px;
    background: #D5E5FB;
}
.sign h2{   
    display: flex;
    color: white;
    width: 11px;
    height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    opacity: 100%;
}
.sign-2{
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 58px;
    opacity: 50%;
    margin-left: 302px;
    margin-top: -34px;
}
.sign-2 h2{   
    display: flex;
    color: white;
    width: 11px;
    height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    opacity: 50%;
}
.sign-3{
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    opacity: 50%;
    margin-left: 302px;
    margin-top: 34px;
    background: #D5E5FB;
}
.sign-3 h2{   
    display: flex;
    color: white;
    width: 11px;
    height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    opacity: 100%;
}
.sign-4{
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 58px;
    opacity: 50%;
    margin-left: 302px;
    margin-top: 29px;
}
.sign-4 h2{   
    display: flex;
    color: white;
    width: 11px;
    height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    opacity: 50%;
}
.sign-5{
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    opacity: 50%;
    margin-left: 302px;
    margin-top: 87px;
    background: #D5E5FB;
}
.sign-5 h2{   
    display: flex;
    color: white;
    width: 11px;
    height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    opacity: 100%;
}
.sign-6{
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 58px;
    opacity: 50%;
    margin-left: 302px;
    margin-top: 83px;
}
.sign-6 h2{   
    display: flex;
    color: white;
    width: 11px;
    height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    opacity: 50%;
}
.mini-basement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 42px;
    margin-right: 30px;
}
.mini-basement p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    width: 393px;
    height: 20px;
    margin: 14px 0px;
}
.mini-basement img{
    width: 147px;
    height: 37px;
}
.mini-icons{
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}
.mini-icons img{
    width: 39.13px;
    height: 35.77px;
}
.icon{
    background-color: #DDF3FF;
    display: flex;
    width: 68px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
}
.subscription{
    outline: none;
    border-radius: 32px;
    width: 404px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    padding-left: 24px;
}
.email-input{
    border: none;
    font-size: 16px;
    color: #0E254B;
    font-weight: 500;
    outline: none;
    border-radius: 36px
}
.subscribe-button{
    padding: 13px 32px;
    background-color: #D5E5FB;
    color: #0E254B;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 38px;
}
.basement-text{
    padding: 40px 20px;
    display: flex;
    align-items: center;
    margin-left: 142px;
}
.column {
    min-width: 200px;
    padding: 0 15px;
}

.column h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.column ul {
    list-style: none;
}

.column li {
    margin-bottom: 15px;
}

.column a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.footer-2{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 120px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.footer-2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0E254B99;
    font-size: 14px;
    font-weight: 400;
}
.footer-2 img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
}
